<!DOCTYPE html>
<html>
<head>
  <title>Decorators</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/1d46f05392.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../assets/commonCSS/w3.css">
  <link rel="stylesheet" type="text/css" href="../assets/commonCSS/deco3.css">
</head>
<body>
<!-- Navbar code -->  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="../index.html">wedding</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
       <li><a href="../index.html">Home</a></li>
     <!--  <li><a href="#">About</a></li> -->
      <li><a href="../View/venue.html">Venue</a></li>
      <li><a href="../View/photo.html">Photography</a></li>
      <li><a href="../View/food.html">Catering</a></li>
      <li><a href="../View/Decoration.html">Decorators</a></li>
      <li><a href="../mc/mc.html">MC</a></li>

  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- closing Navbar code -->

<!-- This code is for the long Display image (kind of jumbotron) (short height, full width image broo!) -->
  <div class="longimg"> 

    <h2 id="pick" class="inline1 pick1">Pick the Decorator for your occasion</h2> <!-- <i class="fa fa-heart inline1 pick1" aria-hidden="true"></i> -->

    <div class="autosized autosized1">
        <center>
            <p>Contact Details <i class="fa fa-phone" aria-hidden="true"></i></p>
        </center>
    </div>

    <div class="autosized autosized2">
        <center>  <p>Gallery <i class="fa fa-picture-o" aria-hidden="true"></i></p> </center>  
    </div>

    <div class="autosized autosized3">
        <center>
            <p>Address  <i class="fa fa-map-marker" aria-hidden="true"></i></p>
        </center>
    </div>

    <div class="autosized autosized4">
        <center>
            <p>Verified <i class="fa fa-check-circle-o" aria-hidden="true"></i></p>
        </center>
    </div> 

  </div> 
<!-- Code for that fucking long image ends here -->

<!-- now the code for displaying all the decorators -->

  <div class="container">
    <div class="row">
<!-- first Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec1.png" alt=""></a>
          <hr>
          <h4>Wedding Bells Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#1myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#1myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="1myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Wedding Bells Decorators</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name: Lancy</p>
                    <p>Tel:  0824 4258077</p>
                    <p>Phone:      9343565457 (Lancy)</p>
                    <p>Phone:      9741529619 (Sonia)</p>
                    <p>Email: Weddingbellsmlr@gmail.com</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="1myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Wedding Bells Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: Presidency zone ||</p>
                   <p>red fort, Delhi</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 2nd Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec2.png" alt=""></a>
          <hr>
          <h4>Cherish Event Management</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#2myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#2myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="2myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cherish Event Management</h4>
                  </div>
                  <div class="modal-body">
                    <p>Phone:     08618988612(Chetan Tour)</p>
                    <p>Phone:     09901788930(Raison)</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="2myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cherish Event Management</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: 2nd floor majestic commercial complex</p>
                  <p> Karangalpady, 575003 Mangalore </p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 3rd Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec3.png" alt=""></a>
          <hr>
          <h4>Dream Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#3myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#3myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="3myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dream Decorators</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name: Everest Lobo</p>
                     <p>Phone:      9019357919 (Everest Lobo)</p>
                    <p>Phone:      9845117517 (Even Lobo)</p>
                   
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="3myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dream Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address:  Shop No. 80,</p>
                 
                   <p> New Market Building, MRPL Road, bhopal</p>
                   <p> 575014 bhopal</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 4th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec4.png" alt=""></a>
          <hr>
          <h4>Magic Balloon Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#4myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#4myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="4myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Magic Balloon Decorators</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name: Sachin km</p>
                    
                    <p>Phone:   089718 96917(Sachin km)</p>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="4myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Magic Balloon Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: Behind Deepa Comfort N Crumbs</p>
                   <p>temple road, bikaner, Rajasthan 575013</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 5th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec5.png" alt=""></a>
          <hr>
          <h4>Glitz and Glam Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#5myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#5myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="5myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Glitz and Glam Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Tel: 0820 4293567 </p>
                  <p>Phone: +91 8861008888</p>
                  <p>Email: info@glitznglamevents.com</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="5myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Glitz and Glam Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: 1st Floor, Upendra Building,</p>
                   <p> Near collectorate circle, sonepat , Harayana 576101</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

        <!-- 6th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec6.png" alt=""></a>
          <hr>
          <h4>Rainbow events</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#6myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#6myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="6myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rainbow events</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name:   Raison Ferrao</p>
                    <p>Phone:  0824 4258077</p>
                    <p>Phone:      8618758543 (Raison)</p>
                    <p>Phone:      7353161008 (Shushanth)</p>
                    <p>Email:    raisonferrao@gmail.com</p>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="6myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rainbow Events</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: Surat</p>
                   <p>575015 Gujarat</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 7th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec9.png" alt=""></a>
          <hr>
          <h4>Glitz Entertainment</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#7myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#7myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="7myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Glitz Entertainment</h4>
                  </div>
                  <div class="modal-body">
                  
                    <p>Tel:  0824 2498251</p>
                    <p>Phone:       096206 66630</p>
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="7myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Glitz Entertainment</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: Rameshwaram, Tamil nadu </p>
                   <p> Karnataka 575002</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 8th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec8.png" alt=""></a>
          <hr>
          <h4>Souza Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#8myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#8myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="8myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Souza Decorators</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name: Lawrence Dsouza</p>
                   
                    <p>Phone:      9686096114 (Lawrence Dsouza)</p>
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="8myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Souza Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: Prem nagar</p>
                   <p>kana,bhubneshwar</p>
                   <p>Odisha</p>
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 9th Decorator -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="thumbnail">
          <a href="#"><img class="card-img-top" src="C:\Users\91797\reviewsystem\Madime\assets\images\dec7.png" alt=""></a>
          <hr>
          <h4>Shine Decorators</h4>
          <div class="container">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm continfo" data-toggle="modal" data-target="#9myModal">Contact Info</button>
            <a href="Dream/dreamgal.html" class="btn btn-primary btn-sm disabled"   role="button">Gallery</a>
            <button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#9myModal2">Address</button>

            <!-- Modal -->
            <div class="modal fade" id="9myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Shine Decorators</h4>
                  </div>
                  <div class="modal-body">
                    <p>Owner Name: Anil crasta</p>
                   
                    <p>Phone:     9740361699</p>
                   
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="9myModal2" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Shine Decorators</h4>
                  </div>
                  <div class="modal-body">
                   <p>Address: west bengal</p>
                 
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

      

            


      
                 
      


   </div> <!-- close row -->

  </div>  <!-- close container -->



</body>
</html>