<!DOCTYPE html>
<html>
<head>
	<title>non veg</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/1d46f05392.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../assets/commonCSS/w3.css">
<link rel="stylesheet" type="text/css" href="../assets/commonCSS/nonvegetarian.css">


</head>
<style type="text/css">.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
}</style>
<body>
	<!-- Navbar code -->  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="../index.html">Wedding</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../index.html">Home</a></li>
     <!--  <li><a href="#">About</a></li> -->
      <li><a href="../View/venue.html">Venue</a></li>
      <li><a href="../View/photo.html">Photography</a></li>
      <li><a href="../View/food.html">Catering</a></li>
      <li><a href="../View/Decoration.html">Decorators</a></li>
      <li><a href="../mc/mc.html">MC</a></li>

  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- closing Navbar code -->



<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="..\assets\images\nonveg2.jpg" alt="venue" style=" opacity:0.5;height: 200px; width: 100%;">
           <div class="carousel-caption">
           <h1 style="color: white;text-shadow: 2px 2px 3px black"><b>Best Non Vegetarian Food</b><br>
           <img style="height: 40px;width: 40px"src="..\assets\images\loc.png" alt="Mangaluru"><d style="font-size: 25px"> INDIA</d></h1>
           </div>
        </div>
    </div>
	</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg1.png" style="width:100%">
            <div class = "caption">
           <div class="txt">
            <h3>Aaron Cateres</h3>
            <p>red fort</p><p>New Delhi</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal1">See Details
                </a>

                 <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Aaron Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
            Aaron Caterers in delhi,  is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. 
            <br>
            <h5><b>Services offered at Aaron Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Aaron Caterers in delhi  aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 08:00 - 20:30.
             
              <dl>
               <dt>Address</dt>
               <dd>  NG Road, 4th Cross, Attavara, delhi - 575001</dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE : 0824 2418903,0824 2414497</dd>
               <DD>MOBILE : 9845085597</DD>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg2.png" style="width:100%">
            <div class = "caption">
           <div class="txt">
            <h3>Prince Caterers</h3>
            <p>Nr St Joseph The Worker Church </p><p>bikaner , Rajasthan</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal2">See Details
                </a>
       <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Prince Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
            Prince Caterers in Mangalore.

Established in the year 1990, Prince Caterers in bikaner rajasthan is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in bikaner, Near St Joseph Church. Undoubtedly it is one of the best caterers in bikaner ,rajasthan.
            <br>
            <h5><b>Services offered at Prince Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Prince Caterers in bikaner aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 07:30 - 22:30.
             
              <dl>
               <dt>Address</dt>
               <dd> No 4/239, bikaner rajasthan - 575029, Near St Joseph Church</dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE :  0824 227 4293</dd>
               <DD>MOBILE : 9845304393</DD>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg3.png" style="width:100%">
            <div class = "caption">
      <div class="txt">
            <h3>Shri Sai Caterers</h3>
            <p>
 Bunts Hostel Road,</p><p> bhopal</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal3">See Details
                </a>

                <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shri Sai Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
           
            <br>
            <h5><b>Services offered at Shri Sai Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Shri Sai Caterers aims at providing city's best food with top quality services.We undertake both  Veg and Non veg food.
             
              <dl>
               <dt>Address</dt>
               <dd> patrao street lane, Bunts Hostel Road, bhopal - 575003, Next to Gold gym</dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE : 7892836298,8792814578,7619256289</dd>
              
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>

        
    
  
    <div class = "col-sm-4">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg4.png" style="width:100%">
            <div class = "caption">
         <div class="txt">
            <h3>Choice Caterers</h3>
            <p>Gousia Complex ,surathkal </p>
            <p>Mangaluru</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal4">See Details
                </a>
        <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Choice Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
            Established in the year 2000, Choice Caterers in Surathkal, Mangalore is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in Surathkal, Opp Service Bus Stand ,. Undoubtedly it is one of the best caterers in Surathkal, Mangalore.
            <br>
            <h5><b>Services offered at Choice Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Choice Caterers in Surathkal aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 09:00 - 18:00.
              <dl>
               <dt>Address</dt>
               <dd>2nd Flr, Gousiya Cmplx, Surathkal, Mangalore - 575014, Opp Service Bus Stand , (Map)</dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE :  0824 2477538</dd>
               <DD>MOBILE : 8050101915,9845984145</DD>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>

<div class = "col-sm-4 ">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg5.png" style="width:100%">
            <div class = "caption">
       <div class="txt">
            <h3>Shade Caterers</h3>
            <p>venkatesh Temple Road ,thirvunanthpuram </p>
            <p>kerala</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal5">See Details
                </a>
<div class="modal fade" id="myModal5" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shade Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
            Shade Caterers in thirvunanthpuram, kerala is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in venkatesh Temple Road. Undoubtedly it is one of the best caterers in thirvunanthpuram, kerala.
            <br>
            <h5><b>Services offered at Shade Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Shade Caterers in thirvunanthpuram aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 09:00 - 18:30.
              <dl>
               <dt>Address</dt>
               <dd>No.19/7/444, venkatesh Temple Road, thirvunanthpuram, kerala - 575001, Opposite To Travellers Banglow (Map)</dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE :  0824 2426125</dd>
               <DD>MOBILE : 9845080825</DD>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>


    <div class = "col-sm-4 ">
      <div class="thumbnail">
        
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\nveg6.png" style="width:100%">
            <div class = "caption">
            <div class="txt">
            <h3>Bhavani Caterers</h3>
            <p>Kottara Chowki,darjeling </p><p>west bengal</p></div>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal6">See Details
                </a><div class="modal fade" id="myModal6" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Bhavani Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;">
            Established in the year 2000, Bhavani Caterers in darjeling, west bengal is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in Matadakani, Matadakani Road, Kottara Chowki. Undoubtedly it is one of the best caterers in darjeeling , west bengal.
            <br>
            <h5><b>Services offered at Bhavani Caterers</b></h5>
          </p>
          <p style="text-align:left;">
              Bhavani Caterers in Matadakani aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 09:30 - 18:30.
              <dl>
               <dt>Address</dt>
               <dd>Matadakani Road, darjeling, west bengal - 575006 </dd>
              </dl>
                <dl>
               <dt>Contact Info</dt>
               <dd> PHONE :  0824 2459530</dd>
               <DD>MOBILE : 9845085160</DD>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
            </div>
      </div>
    </div>
    </div>


      </div>
      </div>
            </div>
      </div>
    </div>
    </div>
</div>
</div>
</body>
</html>