<style type="text/css">
/* NavBar style code bro */
.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
}
.navbar-default .navbar-brand {
    color: #f5f5f5;  /* madime in white color */
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5; /*nav bar texts in white color */
}
.navbar-default{
  background-color: #FA0E7D;
  margin-bottom: 3px;

}
li.active{color:red}

/*closing navbar styles */

/* some idk styles , maybe for responsive design */
.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/* closing that idk styles */

/*Style code for the long width image and content inside it */
.autosized .label{
  position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
    color: #3FE2F9;

}
.autosized{
  background: rgba(255,255,255,0.9);
  width: 150px;
  height: 55px;
    position: absolute;
      transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: raleway;
    padding-top: 10px; /* padding for text inside that small white box */

}
.autosized1{
   top: 80%;
    left: 10%;
}
.autosized2{
   top: 80%;
    left: 35%;
}
.autosized3{
   top: 80%;
    left: 60%;
}
.autosized4{
   top: 80%;
    left: 85%;
}


.longimg h2{
  font-family: raleway;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 900;
  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.pick1{
  background-color: rgba(250,14,125,0.8);
  padding: 10px;
  border-radius: 10px;
}
/*ending long image code bro */
body{
  
  background-image: url("../assets/images/bg.jpg");

}
  
  background-position: center;
  padding: 0px;
}
.longimg h3{
  font-family: 'Bellefair', serif;
  margin-top: 1px;
  
}
.txt{
  color: white;
  text-shadow: 3px 3px 4px black;
}
.jumbotron {
    background-color:#D790FA; 
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.longimg{
  background-image: url("longimg.jpg");
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  height: 350px;
  opacity: 0.8;

}
/* now style for displaying the image of each decorator */
.thumbnail {
  padding: 0px; 
  margin:0px;
 width:100%; 
 background:transparent;
 border-color:transparent;/*to make image full size of that box */
}
.thumbnail h4{
  padding-left: 8px;
}
.container {
    margin-bottom: 10px; /* marging below phone,gallery etc buttons */
}
/* closing those styles bro */

/* media query for those 4 divisions inside the long image*/
@media only screen  and (max-width : 629px) {
/* Styles */
.autosized1{
   top: 68%;
    left: 14%;
    margin-left: 25px;
}
.autosized2{
   top: 87%;
    left: 14%;
    margin-left: 25px;
}
.autosized3{
   top: 68%;
    left: 85%;
    margin-right: 25px;
}
.autosized4{
   top: 87%;
    left: 85%;

}
}
@media only screen  and (max-width : 568px) {
/* Styles */
.autosized p{
  font-size: 13px;
}
.autosized1{
   top: 68%;
    left: 14%;
}
.autosized2{
   top: 87%;
    left: 14%;
}
.autosized3{
   top: 68%;
    left: 80%;
}
.autosized4{
   top: 87%;
    left: 80%;

}
.pick1{
  display: none;
}
}
@media only screen  and (max-width : 375px) {
/* Styles */
.autosized p{
  font-size: 13px;

}
.autosized{
  height: 40px;
}
.autosized1{
   top: 68%;
    left: 14%;
    margin-left: 25px;
}
.autosized2{
   top: 87%;
    left: 14%;
    margin-left: 25px;
}
.autosized3{
   top: 68%;
    left: 80%;
}
.autosized4{
   top: 87%;
    left: 80%;

}
.pick1{
  display: none;
}
}
@media only screen  and (max-width : 375px) {
/* Styles */
.autosized p{
  font-size: 13px;

}
.autosized{
  height: 40px;
}
.autosized1{
   top: 68%;
    left: 16%;
    margin-left: 25px;
}
.autosized2{
   top: 87%;
    left: 16%;
    margin-left: 25px;
}
.autosized3{
   top: 68%;
    left: 75%;
}
.autosized4{
   top: 87%;
    left: 75%;

}
.pick1{
  display: none;
}
}




@media (max-width: 600px) {
  #img1 {
    width: 100%;
  }
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-center {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 32px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px 5px black;
}
.imge {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
</style>