<!DOCTYPE html>
<html>
<head>
  <title>photo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/1d46f05392.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../assets/commonCSS/w3.css">
  <link rel="stylesheet" type="text/css" href="photo.css">
</head>
<body>
<!-- Navbar code -->  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="../index.html">Wedding</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
       <li><a href="../index.html">Home</a></li>
     <!--  <li><a href="#">About</a></li> -->
      <li><a href="../View/venue.html">Venue</a></li>
      <li><a href="../View/photo.html">Photography</a></li>
      <li><a href="../View/food.html">Catering</a></li>
      <li><a href="../View/Decoration.html">Decorators</a></li>
      <li><a href="../mc/mc.html">MC</a></li>

  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav><!-- /.navb-->

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo1.png" alt="photography" style="height: 300px; width: 100%;">
           <div class="carousel-caption">
           <h1 style="color: black;text-shadow: 4px 4px 4px white"><b>Best Photography contacts</b><br>
           <img style="height: 40px;width: 40px" src="../assets/images/loc.png" alt="delhi"><d style="font-size: 25px"> India</d></h1>
           </div>
        </div>
    </div>
	</div>

<br>
    
    
    
    
    
    
    

<div class = "row">
   
   <div class = "col-md-3">
      <div class = "thumbnail">
         <img src = "C:\Users\91797\reviewsystem\Madime\assets\images\photo2.png" alt = "Generic placeholder thumbnail" style="height: 300px;width:100%">
      </div>
      
      <div class = "caption">
         <h3>Photosynthe Studio</h3>
         <p>Canara High School Road, Dongarakere,</p>
         <p>delhi</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 


 
            
            <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal">
               See Details
            </a>
             <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">PHOTOSYNTHE STUDIO</h4>
        </div>
        <div class="modal-body">
            
          <p style="text-align: justify;">
          	<b>Business Name :</b> Photosynthe Studio<br>
          <b>Contact Name :</b>Preetham Aloysius Dsouza<br>
              <b>Conatact Number :</b>9538579322<br>
              <b> Email :</b>preethamaloysius@gmail.com<br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo3.png" alt="west Bengal" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>New York</h3>-->
<!--          <p>The atmosphere in New York is lorem ipsum.</p>-->
        </div>      
      </div>

      <div class="item">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo3.png" alt="chicago" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>Chicago</h3>-->
<!--          <p>Thank you, Chicago - A night we won't forget.</p>-->
        </div>      
      </div>
    
      <div class="item">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo3.png" alt="Los Angeles" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>LA</h3>-->
<!--          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>-->
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
        
            
<!--                      <iframe  class="embed-responsive-item" width="100%" height="100%" src="https://youtu.be/zWWajVNjBe0" frameborder="0" allowfullscreen></iframe>-->
               
            
            </p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
       
         
      </div>
<!--   </div>-->
   
    
    
    
    
    
    
    
    
    
   <div class = "col-md-3">
      <div class = "thumbnail">
         <img src = "C:\Users\91797\reviewsystem\Madime\assets\images\photo3.png" alt = "Generic placeholder thumbnail" style="height: 300px;width:100%">
      </div>
      
      <div class = "caption" >
         <h3>Hemanth studio and video</h3>
         <p>Carstreet,</p><p> chennai</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal1">
               See Details
            </a>
 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HEMANTH STUDIO AND VIDEO</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          <b>Business Name :</b>Hemanth Studio and video<br>
          <b>Contact Name :</b>Hemanth<br>
              <b>Conatact Number :</b>*******<br>
              <b> Email :</b>****@gmail.com<br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo4.png" alt="New York" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>New York</h3>-->
<!--          <p>The atmosphere in New York is lorem ipsum.</p>-->
        </div>      
      </div>

      <div class="item">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo4.png" alt="Chicago" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>Chicago</h3>-->
<!--          <p>Thank you, Chicago - A night we won't forget.</p>-->
        </div>      
      </div>
    
      <div class="item">
        <img src="C:\Users\91797\reviewsystem\Madime\assets\images\photo4.png" alt="Los Angeles" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>LA</h3>-->
<!--          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>-->
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
        
            
<!--
                      <iframe  class="embed-responsive-item" width="100%" height="100%" src="https://youtu.be/zWWajVNjBe0" frameborder="0" allowfullscreen></iframe>
               
            
-->

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

         </p>
         
      </div>
   </div>
   









   <div class = "col-md-3">
      <div class = "thumbnail">
         <img  src = "C:\Users\91797\reviewsystem\Madime\assets\images\photo4.png" alt = "Generic placeholder thumbnail" style="height: 300px;width:100%">
      </div>
      
      <div class = "caption">
         <h3>NV Photography</h3>
         <p>Arkula-Valachil-Farangipete</p><p>
574143 mumbai</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal2">
               See Details
            </a>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">NV PHOTOGRAPHY</h4>
        </div>
        <div class="modal-body">
                   <p style="text-align: justify;">
          <b>Business Name :</b>NV Studio and video<br>
          <b>Contact Name :</b>Narayan<br>
              <b>Conatact Number :</b>*******<br>
              <b> Email :</b>****@gmail.com<br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="..\assets\images\nv1.jpg" alt="New York" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>New York</h3>-->
<!--          <p>The atmosphere in New York is lorem ipsum.</p>-->
        </div>      
      </div>

      <div class="item">
        <img src="..\assets\images\nv2.jpg" alt="Chicago" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>Chicago</h3>-->
<!--          <p>Thank you, Chicago - A night we won't forget.</p>-->
        </div>      
      </div>
    
      <div class="item">
        <img src="..\assets\images\nv3.jpg" alt="Los Angeles" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>LA</h3>-->
<!--          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>-->
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
        
            
<!--
                      <iframe  class="embed-responsive-item" width="100%" height="100%" src="https://youtu.be/zWWajVNjBe0" frameborder="0" allowfullscreen></iframe>
               
-->
            

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

         </p>
         
      </div>
   </div>
   









   <div class = "col-md-3">
      <div class = "thumbnail">
         <img  src = "C:\Users\91797\reviewsystem\Madime\assets\images\photo5.png" alt = "Generic placeholder thumbnail" style="height: 300px;width:100%">
      </div>
      
      <div class = "caption">
         <h3>Vivek studios</h3>
         <p>Hampankatta,</p><p> Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal3">
               See Details
            </a>
            <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">VIVEK STUDIOS</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
            <b>Business Name :</b>Vivek Studio<br>
          <b>Contact Name :</b>Vivek Sequeira<br>
              <b>Conatact Number :</b>*******<br>
              <b> Email :</b>****@gmail.com<br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="..\assets\images\viv1.jpg" alt="New York" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>New York</h3>-->
<!--          <p>The atmosphere in New York is lorem ipsum.</p>-->
        </div>      
      </div>

      <div class="item">
        <img src="..\assets\images\viv2.jpg" alt="Chicago" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>Chicago</h3>-->
<!--          <p>Thank you, Chicago - A night we won't forget.</p>-->
        </div>      
      </div>
    
      <div class="item">
        <img src="..\assets\images\viv3.jpg" alt="Los Angeles" width="100%" height="100%">
        <div class="carousel-caption">
<!--          <h3>LA</h3>-->
<!--          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>-->
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
        
            
<!--
                      <iframe  class="embed-responsive-item" width="100%" height="100%" src="https://youtu.be/zWWajVNjBe0" frameborder="0" allowfullscreen></iframe>
               
            
-->
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>
       


</div>



<!--
<div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img   src = "..\assets\images\tmapai.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>TMA Pai convention centre</h3>
         <p>Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal4">
               See Details
            </a>
            <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TMA PAI CONVENTION CENTRE</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\grandbay.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>The Grand Bay</h3>
         <p>Malavoor,Airport Road Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal5">
               See Details
            </a>
            <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">THE GRAND BAY</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\boat club.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Boat Club</h3>
         <p>Sulthan Battery, Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal6">
               See Details
            </a>

            <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BOAT CLUB</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\bendoor.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>St.Sebastian Platinum Jublie Auditorium</h3>
         <p>Bendoorwell, Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal7">
               See Details
            </a>
            <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ST SEBASTIAN PLATINUM JUBLIE AUDITORIUM</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\vamanjoor.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Vamanjoor Church Sabha Bhavan</h3>
         <p>Vamanjoor, Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal8">
               See Details
            </a>
            <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">VAMANJOOR CHURCH SABHA BHAVAN</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img   src = "..\assets\images\bejai.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Bejai Church Hall</h3>
         <p>Bejai, Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal8">
               See Details
            </a>
            <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BEJAI CHURCH HALL</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\hill top.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>OLV Hill Top</h3>
         <p> Airport Rd,Mary Hill,Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal9">
               See Details
            </a>
            <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">OLV HILL TOP</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img   src = "..\assets\images\city beech.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>City Beech</h3>
         <p>Ferry Rd,Bolar,Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Add to cart
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal10">
               See Details
            </a>
            <div class="modal fade" id="myModal10" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CITY BEECH</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b> M G Road, Mangaluru<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>
-->

<!--</div>-->
</body>
</html>