<!DOCTYPE html>
<html>
<head>
  <title>veg</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/1d46f05392.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../assets/commonCSS/w3.css">
<link rel="stylesheet" type="text/css" href="../assets/commonCSS/vegetarian.css">


</head>
<style type="text/css">
.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
}
</style>
<body>
  <!-- Navbar code -->  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="../index.html">Wedding</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html">Home</a></li>
     <!--  <li><a href="#">About</a></li> -->
      <li><a href="../View/venue.html">Venue</a></li>
      <li><a href="../View/photo.html">Photography</a></li>
      <li><a href="../View/food.html">Catering</a></li>
      <li><a href="../View/Decoration.html">Decorators</a></li>
      <li><a href="../mc/mc.html">MC</a></li>

  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav><!-- /.navbar -->
	<br>
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="" alt="" style="opacity:0.5;background: linear-gradient(90deg, black,black);height: 200px; width: 100%;">
           <div class="carousel-caption">
           <h1 style="color: white;text-shadow: 2px 2px 3px black"><b>Best Vegetarian Food</b><br>
           <img style="height: 40px;width: 40px"src="..\assets\images\loc.png" alt="Mangaluru"><d style="font-size: 25px"> INDIA</d></h1>
           </div>
        </div>
    </div>
	</div>
	<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg5.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg5.png" style="width:100%">
          	<div  class = "caption">
         		<h3 style="color: white;text-shadow: 3px 3px 4px black">Sharavu Caterers
         		<p>Ashoknagar,Bhopal</p></h3>            	<a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
				<a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
				data-target="#myModal1">See Details
        </a>
      <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sharavu Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;color: black;">
            Established in the year 2001, Sharavu Caterers in Ashoknagar, Bhopal is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare.
            <br>
            <h5><b>Services offered at Sharavu Caterers</b></h5>
          </p>
          <p style="text-align:left; color: black;">
              Sharavu Caterers in Ashoknagar aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall decor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences.
              <br>
              Timings: 7:00 A.M.- 7 P.M.
              <br>
              <dl>
               <dt>Contact No.</dt>
               <dd>+91 9939677917, +91 9448026757</dd>
              </dl>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg2.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg2.png" style="width:100%">
          	<div class = "caption">
         		<h3 style="color: white;text-shadow: 3px 3px 4px black"> Soundarya Palace Caterers
         		<p>Kateel,Mangaluru</h3></p>
            	<a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
				<a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
				data-target="#myModal2">See Details
        </a>
      <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Soundarya Palace Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left; color: black;">
            The Soundraya Palace - Catering Services has been one among the leaders in the Catering with a strong commitment to deliver quality services to our customers.
            <br>
            The menus are designed keeping in mind the client taste. An elegant combination of delicious food, professional service, beautiful linens and the location of your choice, all come together to create your special event. 
            <br>
            We provide a wide variety of tasty & nutrition menus for breakfast, lunch, dinner, snacks and midnight snacks sessions. 
            <br>
            <dl>
            <dt>We Take Both:</dt>
              <dd>Indoor Catering</dd>
              <dd>Outdoor Catering</dd>
            </dl>
            <dl>
               <dt>Contact No.</dt>
               <dd>Phone: 0824-2200946 / 2200947 / 2200948 / 2200949
               <dd>Mobile: 7760470436 / 9448501010 / 9845098126 / 7026276989</dd>
              </dl>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg1.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg1.png" style="width:100%">
          	<div  class = "caption">
         		<h3  style="color: white;text-shadow: 3px 3px 4px black">Sri Devi Arrangers and Caterers
         		<p>Bondel,Rameshwaram</p></h3>
            	<a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
				<a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
				data-target="#myModal3">See Details
        </a>
        <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sri Devi Arrangers and Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left; color: black;">
            Sri Devi Arrangers And Caterers in Bondel, Rameshwaram is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry.
            <br>
            Sri Devi Arrangers And Caterers in Bondel aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 05:00 - 22:00.
          </p>
            <h5><b>Services offered at Sri Devi Arrangers And Caterers</b></h5>  
              <dl>
               <dt>Contact No.</dt>
               <dd>+91 9449048578, +91 9880728578</dd>
              </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
      </div>
    </div>
	</div>
</div>
	<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg3.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg3.png" style="width:100%">
          	<div  class = "caption">
         		<h3 style="color: white;text-shadow: 2px 2px 3px black">Janatha Caterers
         		<p>(A unit of Sri Lakshmi)
            delhi</p></h3>
            	<a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
				<a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
				data-target="#myModal4">See Details
        </a>
        <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Janatha Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;color: black;">
          Hotel Janatha Deluxe explores the world of Outdoor Catering services by name janatha caterers. It also undertakes party orders and outdoor catering
          and accepts the catering orders to a maximum any numbers of order for any part of the city with on-site preparation. It serves over 350 different dishes in over 10 categories, the cuisine and quality is one of the best in the whole of the vegetarian segment.
              <dl>
               <dt>Contact No.</dt>
               <dd>+91 9845080169, +91 9448132191</dd>
              </dl>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg4.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg4.png" style="width:100%">
            <div  class = "caption">
            <h3 style="color: white;text-shadow: 2px 2px 3px black">Gokul Caterers
            <p>NEAR Kadri Temple, Kadri, bhubneshwar</p></h3>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal6">See Details
        </a>
        <div class="modal fade" id="myModal6" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Gokul Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;color: black;">
          Established in the year 1985, Gokul Caterers in Kadri, bhubneshwar is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in Kadri, NEAR kadri temple. Undoubtedly it is one of the best caterers in Kadri, bhabneshwar.
              <dl>
               <dt>Services offered at Gokul Caterers</dt>
               <dd style="text-align:left;color: black">Gokul Caterers in Kadri aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 10:00 - 18:00.</dd>
              </dl>
              <dl>
               <dt>Contact No.</dt>
               <dd>0824 2212620,0824 6552706,9844124728,9448549456</dd>
              </dl>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:\Users\91797\reviewsystem\Madime\assets\images\veg6.png" target="_blank"></a>
          <img src="C:\Users\91797\reviewsystem\Madime\assets\images\veg6.png" style="width:100%">
            <div  class = "caption">
            <h3 style="color: white;text-shadow: 2px 2px 3px black">Harshitha Caterers
            <p>Ananth mahal, Main road, Kaikamba, kolkata </p></h3>
              <a href = "#" class = "btn btn-primary" role = "button">Gallery</a> 
        <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" 
        data-target="#myModal7">See Details
        </a>
        <div class="modal fade" id="myModal7" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Harshitha Caterers</h4>
        </div>
        <div class="modal-body">
          <p style="text-align:left;color: black;">
          Established in the year 2002, Harshitha Caterers in Kaikamba, kolkata is an acknowledged catering establishment. This caterer has impressed countless clients with their impressionable outdoor catering services. By orienting the best of resources with dedication and commitment towards catering services, they have set their own standards in the hospitality and service industry. They toss fine, locally sourced ingredients and spices to create wholesome multi-cuisine fare. As a competent player in the city, this catering firm caters to all kinds of occasions, be it a corporate event, birthday, private party, a full-scale wedding reception or a charitable event. This eatery can be easily located in Kaikamba, Main road. Undoubtedly it is one of the best caterers in Kaikamba, kolkata.
              

              <dl>
               <dt>Services offered at Harshitha Caterers</dt>
               <dd style="text-align:left;color: black">Harshitha Caterers in Kaikamba aims to offer services as per the demands and preferences of the clients. This firm's catering services cover the food and beverage arrangements, dining hall décor and service. The service staff are presentable and courteous in serving and interacting with the guests. This establishment modifies its service offerings to match and suit all kinds of budgets and preferences. Be it family events, weddings or corporate events, they have the expertise to aid in each event become a rousing success. Operating on all days of the week, one can reach out to them between 09:00 - 17:30.</dd>
              </dl><dl>
               <dt>Contact No.</dt>
               <dd>0824 2016229,9845795531</dd>
              </dl>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
        </div>
      </div>
    </div>
</div>
</div>
</body>
</html>