<!DOCTYPE html>
<html>
<head>
	<title>venue</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/1d46f05392.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="../assets/commonCSS/w3.css">
<link rel="stylesheet" type="text/css" href="../assets/commonCSS/venue.css">


</head>
<style type="text/css">.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
}</style>
<body>
	<!-- Navbar code -->  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="../index.html">Wedding</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-2">
    <ul class="nav navbar-nav navbar-right">
             <li><a href="../index.html">Home</a></li>
     <!--  <li><a href="#">About</a></li> -->
      <li><a href="../View/venue.html">Venue</a></li>
      <li><a href="../View/photo.html">Photography</a></li>
      <li><a href="../View/food.html">Catering</a></li>
      <li><a href="../View/Decoration.html">Decorators</a></li>
      <li><a href="../mc/mc.html">MC</a></li>

  </ul>

</div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- closing Navbar code -->



<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="..\assets\images\3db78ce.png" alt="venue" style="height: 200px; width: 100%;">
           <div class="carousel-caption">
           <h1 style="color: white;text-shadow: 2px 2px 3px black"><b>Best Wedding Venues</b><br>
           <img style="height: 40px;width: 40px"src="..\assets\images\loc.png" alt="Mangaluru"><d style="font-size: 25px"> INDIA</d></h1>
           </div>
        </div>
    </div>
	</div>

<br>


<div class = "row">
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "C:\Users\91797\reviewsystem\Madime\assets\images\venue1.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>REGAL AFFAIR</h3>
         <p style="font-size: 14px"></p>udaipur ,Rajasthan<p> </p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
              Gallery
            </a> 


 
            
            <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal">
               See Details
            </a>
             <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">RIVER DALE</h4>
        </div>
        <div class="modal-body">
         <p>
<b>VENUE:</b> <ul>Regal Affair,<br> udaipur,<br> Rajasthan 575002<br></ul>
<b>PHONE:</b><a href="tel:9945603447">9945603447</a><br>
<b>EMAIL:</b><a href="#">----------</a><br>
<b>CAPACITY:</b>1500 persons<br>


         </p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "C:\Users\91797\reviewsystem\Madime\assets\images\venue2.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Sunset Pheras</h3>
         <p> Kerala</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Gallery
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal1">
               See Details
            </a>
 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sunset Pheras</h4>
        </div>
        <div class="modal-body">
          <p>
          	<b>VENUE :</b><p>Sunset Pheras (NH 66),<br> Kerala<br></p>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>
          <b>PHONE:</b><BR>
          <B>WEBSITE:</B><a href="http://www.fathermuller.edu.in">www.fathermuller.edu.in</a><BR>
          <b>ABOUT US:</b>
          <P>Sunset Pheras is one of the finest facilities under the aegis of Father Muller Charitable Institutions. It is a fully integrated state-of-the art Convention Centre of International standard with centralized air conditioning, artistically designed decor & other amenities that contribute to a charming ambience. From High end audio visual system to a sprawling 3500 sq feet stage, the beautiful manicured landscaping, spacious Auditorium, Dining Hall & Mini Hall that can host events, parties, functions, ceremonies, meetings, conferences, conventions and programs. Every feature has been thoughtfully conceptualized and designed to make your event a grand success in every way. Ideally located in heart of the city, it can be easily located and accessed by road, rail or air & is convenient for people travelling from any point in and around Dakshina Kannada or even Kerala. " Special Offers / Discounts available to educational institutions using our Facility"</P>
          <b>AC/NON AC:</b>AC<br>
<b>Seating Capacity :</b>  1750<br>
<b>Dining Capacity :</b>1000<br>
<b>Parking Capacity:</b>  Over 700 Cars<br>
<b>In house Kitchen Arrangement :</b>  yes<br>
<b>Outside Food Allowed :</b>  yes<br>
<b>Inhouse sound arrangement :</b> yes<br>
<b>Power Back Up:</b> yes<br>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "C:\Users\91797\reviewsystem\Madime\assets\images\v3.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Lobo's River View</h3>
         <p>Near Morgans Gate,</p><p> kerala</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Gallery
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal2">
               See Details
            </a>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOBO'S RIVER VIEW</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
          	<b>VENUE :</b><P> Lobo's River View Cascia Tile Factory Grounds<BR> Morgans Gate <BR>  
  <BR>
kerala - 575001.</P>  <br>
<b>ABOUT US:</b><P>An Ideal place for all your Parties, Business Conferences, Picnics, Weddings etc.</P>

<b>PHONE:</b><a href="tel:9845077063">9845077063</a></ul> <br>
<B>EMAIL:</B><a href="mailto:lobosriverview@gmail.com">Lobosriverview@gmail.com</a><br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>
          

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "..\assets\images\milagres.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>Milagres silver jublie hall</h3>
         <p>Hampankatta, </p><p>noida</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Gallery
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal3">
               See Details
            </a>
            <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MILAGRES SILVER JUBLIE HALL</h4>
        </div>
        <div class="modal-body">
          <p style="text-align: justify;">
            <b>VENUE :</b> M G Road, Noida<br>
          <b>MAXIMUM CAPACITY :</b>1500 persons<br>
<b>ABOUT US:</b>
<P>One of the prestigious projects of Milagres Church, Noida is its 3 hall condominium inaugurated on 9th September 2005, 'Milagres Hall Complex'.<BR>

Milagres Hall Complex is a hall complex consisting of 3 halls namely<br>

  <ul>Milagres Jubilee Hall<br>
  Milagres Senate Hall<br>
  Milagres Conference Hall<br>
  Open Air Auditorium</ul><br>
Milagres Hall Complex is a distinctive hall comprising of infinitely gracious Halls with a welcoming atmosphere suited for wide range of purposes. Centrally Located, easily accessible from any direction, ultra-modern, acoustically designed building, superlative splendid interiors with gracious ambience.<br> 

A choice of options to suit any need Milagres Jubilee Hall accommodates 1200 people, Conference Hall accommodates 600 people and Senate Hall accommodates 500 people. <br>

Conference & Senate Halls could be combined to accommodate 1100 people. Balcony with a separate entrance, Kitchen facility for preparing food, service lift from the parking area to the halls, Air conditioned bridal change room, bathrooms fitted with geysers for hot water bath after ‘Roce’. Spacious, impressive stage setting, enough covered parking space to protect your vehicle during monsoon or from hot sun shine, water fountains and garden to welcome you at the entrance.</P>
<br>
<br>


<b> For Hall Booking and Enquiry - Phone: </b><a href="tel:91 824 2426222">91 824 2426222</a><br>

<b>Note:- Payments should be made only through Demand Drafts in favour of "MILAGRES HALL ACCOUNT"</b>


      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>
   
<div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img   src = "..\assets\images\tmapai.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>TMA Pai convention centre</h3>
         <p>M G Road,</p><p> Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Gallery
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal4">
               See Details
            </a>
            <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DR TMA PAI CONVENTION CENTRE</h4>
        </div>
        <div class="modal-body">
          <p>
          	<b>VENUE :</b> <P>M G Road, Mangaluru<br>
<b>PHONE:</b> 91 824 2497871,2497872<br>
<b>MOBILE:</b> <a href="tel:9845912107">9845912107</a><br>
<b>EMAIL :</b><a href="mailto:conc.mng@manipal.edu" >conc.mng@manipal.edu</a><br>
<b>ABOUT US</b><P>
The Dr TMA Pai International Convention Centre at MG Road Mangalore is one of the best convention centres in the country. With a surface area of 16730 sq metres and a basement area of 4200 sq metres, it has a seating capacity of 4000.</P>


<B>Facilities</B>


<B>Conference halls</B>

<P>With 3 well-furnished conference halls and a cafeteria, it is the ideal venue for events.</P>


<B>Auditorium/Function hall</B>


<P>The Nerve Centre of the Convention Centre is situated on the first floor and has a

Seating capacity of 1760
Diameter of 52 meter
8x9-m centre stage with air-conditioned green rooms
Reflected lighting
BOSS sound systems for an enhanced acoustic experience.
The auditorium has the largest shell in Asia, four air conditioned double-bedded guest rooms and optical-fibre sky lighting. It is centrally air conditioned and has plush push-back seats and unmatched ambience.</P>


<B>Exhibition hall</B>
<P>The Exhibition Hall on the first floor can accommodate about 750 persons and has a

Plinth area of 1400sqm
Diameter of 42 meter
163-m outer perimeter wall
Additional fire escape route for emergency use.
Dining hall and kitchen
The dining hall can accommodate about 750 people.
There is also parking for 400 cars and 200 two wheelers in and around the building with fire hydrant sprinkler system above each car park bay.
  </P>



      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img  src = "C:\Users\91797\reviewsystem\Madime\assets\images\v4.png" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <h3>The Grand Bay</h3>
         <p>Malavoor,Airport </p><p> Mangaluru</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Gallery
            </a> 
            
             <a style="background-color: white;color: black" href = "#" class = "btn btn-info btn-m" data-toggle="modal" data-target="#myModal5">
               See Details
            </a>
            <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">THE GRAND BAY</h4>
        </div>
        <div class="modal-body">
          <p >
          	<B>VENUE:</B><P>Popular Farms, Airport Road,<BR>
Malavoor, Kenjar,<br>
guwahati</p>
<b>ABOUT US:</b><P>
  The Grand Bay provides you the most delightful environment that synchronizes with your celebration. Say bye-bye to overcrowded halls, small parking space and unpleasant experience. We at The Grand Bay provide you the perfect experience of a celebration. Exquisite scenery, beautiful lawns, immense parking facilities, elite dining area can make your gathering memorable.<BR>
  The Grand Bay is perfectly designed for weddings, parties and social functions with state of art facilities spread over 1 lakh sq. ft. area with above 1500 capacity car-parking, above 3000 capacity seating, 2 green rooms with attached toilets, 10000 sq. ft. dining area and moreover breathtaking scenery that can make your moment even more cherishing.

</P>
<B>CAPACITY:</B>3000 persons<br>
<b>EMAIL:</b><a href="mailto:M. info@thegrandbay.co.in">M. info@thegrandbay.co.in</a><br>
<b>WEBSITE:</b><A HREF="http://www.thegrandbay.in">www.thegrandbay.in</A><BR>
<B>PHONE:</B><a href="tel:9880644099">9880644099</a>,
<a href="tel:9845690333">98456 90333</a>,
<a href="tel:9916021942">9916021942</a><br>

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

   

      
      </div>
    </div>
  </div>
         </p>
         
      </div>
   </div>

</div>
</body>
</html>